USE [OT_Assessment_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCasinoWagersByPlayerId]    Script Date: 1/14/2025 6:20:09 PM ******/
DROP PROCEDURE [dbo].[sp_GetCasinoWagersByPlayerId]
GO
/****** Object:  Table [dbo].[PlayerCasinoWager]    Script Date: 1/14/2025 6:20:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PlayerCasinoWager]') AND type in (N'U'))
DROP TABLE [dbo].[PlayerCasinoWager]
GO
/****** Object:  Table [dbo].[PlayerAccount]    Script Date: 1/14/2025 6:20:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PlayerAccount]') AND type in (N'U'))
DROP TABLE [dbo].[PlayerAccount]
GO
/****** Object:  Table [dbo].[PlayerAccount]    Script Date: 1/14/2025 6:20:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerAccount](
	[AccountId] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Created] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastModified] [datetime2](7) NULL,
	[LastModifiedBy] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerCasinoWager]    Script Date: 1/14/2025 6:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerCasinoWager](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [nvarchar](50) NOT NULL,
	[Game] [nvarchar](50) NOT NULL,
	[Provider] [nvarchar](50) NOT NULL,
	[Amount] [money] NOT NULL,
	[WagerId] [nvarchar](50) NOT NULL,
	[CreatedDateTime] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastModifiedDateTime] [datetime2](7) NULL,
	[LastModifiedBy] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCasinoWagersByPlayerId]    Script Date: 1/14/2025 6:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCasinoWagersByPlayerId]
	@PlayerId INT
AS
BEGIN
	SET NOCOUNT ON;

	SELECT pcw.*
	FROM [dbo].[PlayerAccount] pa	
	JOIN [dbo].[PlayerCasinoWager] pcw
	ON pa.AccountId = pcw.AccountId
	WHERE pa.Id = @PlayerId;

END
GO
